@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: url('/assets/images/arabic.jpg') repeat center center fixed; */
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/arabic.jpg');
  background-repeat: repeat; /* supaya tile / berulang */
  background-size: auto; /* biar tidak di-zoom */
  opacity: 0.01; /* 10% */
  z-index: -1; /* taruh di belakang konten */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.animate-slide-reverse {
  animation: slide-reverse 30s linear infinite;
}

.main-container {
  padding-top: 80px;
}